<p-toast></p-toast>

<div class="header_backgroud">

</div>

<nav id="navigation">
  <div class="row">
    <div class="col-md-4 left_side" style="color: red;font-weight: bold;">
      <h2>Create Reservation</h2>
    </div>
    <div class="col-md-4 middle_content">
      <p>This is will be the description This is will be the description This is will be the description This is will
        be the description This is will be the description This is will be the description This is will be the
        description</p>
    </div>
    <div class="col-md-4 float-right">
      <div class="row">
        <a class="extra float-right btn btn-secondary" [routerLink]="['/reservation']">
          RESERVATION LIST
        </a>
      </div>

    </div>
  </div>
</nav>
<br />



<nav id="navigation">
  <div class="row">

    <section>
      <div class="content_edit container">
        <div class="content">
          <p-table [value]="contacts">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="contactName">Contact Name <p-sortIcon field="contactName"></p-sortIcon></th>
                    <th pSortableColumn="contactPhone">Phone Number <p-sortIcon field="contactPhone"></p-sortIcon></th>
                    <th pSortableColumn="contactBirthdate">Birth Date <p-sortIcon field="contactBirthdate"></p-sortIcon></th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-contact>
                <tr>
                    <td>{{contact.contactName}}</td>
                    <td>{{contact.contactPhone}}</td>
                    <td>{{contact.contactBirthdate}}</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
      </div>
    </section>
    </div>
</nav>
