body{
	background: #ddd;
}
nav{
	background: white;
	padding: 8px;
}
.header_backgroud{
	padding: 81px 30px;
	background-image: url('/assets/img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}


ul{
	list-style: none;
}
ul li{
	list-style: none;
}
.list_style{
	background: #ddd;
}
li.list_style {
    height: 52px;
    padding-right: 7px;
    padding-top: 5px;
	margin-bottom: 14px
}


.fa-user-circle-o, .fa-globe, .fa-phone, .fa-calendar{
  color: rgb(177, 174, 174);
}


.auto-complete-contact{

  border:none;
  background-color: transparent;
  padding-left: 10px;

}


