

<div class="row">
  <div class="sm_size_one col-md-3">
    <div class="edit_div">
      <div class="img_list">
        <img src="assets/img/speaker.png" alt="" />
      </div>
      <div class="list_title">
        <h4>Second docs</h4>
        <p>May 20 Saturday julay</p>
      </div>

    </div>


  </div>

  <div class="sm_size_two col-md-3">
    <div class="rate">
      <h4>Ranking</h4>
      <div class="star">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>



      </div>

    </div>
  </div>

  <div class="sm_size_two col-md-3">
    <p class="list_p">Add Favourite <span style="font-size: 22px"><i class="fa fa-heart"></i></span></p>
  </div>

  <div class="sm_size_two col-md-3">
    <button class="float-right btn btn-secondary">
      Edit
    </button>
  </div>



</div>




