<div class="header_backgroud">

</div>

<nav id="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-4 left_side">
        <h2>Create Reservation</h2>
      </div>
      <div class="col-md-4 middle_content">
        <p>This is will be the description This is will be the description This is will be the description This is will
          be the description This is will be the description This is will be the description This is will be the
          description</p>
      </div>
      <div class="col-md-4 float-right">
        <button class="float-right btn btn-secondary">
          RESERVATION LIST
        </button>
      </div>
    </div>
  </div>
</nav>
<br />
<form [formGroup]="contactForm" (ngSubmit)="onFormSubmit()">
  <section>
    <div class="content_header_form container">

      <div class="row">



        <div class="col-md-4 col-sm-2">
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="inputWithIcon">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)='selectedContact($event.option.value)'>
                  <mat-option *ngFor="let option of contacts" [value]="option.contactName">
                    {{option.contactName}}
                  </mat-option>
                </mat-autocomplete>

                <input formControlName="contactName" type="text" placeholder="Pick one" aria-label="Number" matInput
                  [matAutocomplete]="auto">
                <i class="fa fa-id-card  fa-lg fa-fw" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>




        <div class="col-md-4 col-sm-2">
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="inputWithIcon">

                <div class="form-group">
                  <select class="fa form-control" formControlName="contactTypeId">
                    <option selected='true' value="&#xf160;">&#xf2c2; Contact Type</option>
                    <option *ngFor="let srt of contactTypes" value="{{ srt.contactTypeId }}">{{ srt.contactTypeName }}
                    </option>
                  </select>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-2">
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="inputWithIcon">
                <input type="text" formControlName="contactPhone" placeholder="Phone" mask="(000) 000-0000">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</form>
<section>
  <div class="content_edit container">
    <div>
      <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>
    </div>

  </div>
</section>
<div class="container">
  <div class="float-right">
    <button class="btn btn-primary">
      SEND
    </button>
  </div>
</div>
