<p-toast></p-toast>

<div class="header_backgroud">

</div>

<nav id="navigation">
  <div class="row">
    <div class="col-md-4 left_side" style="color: red;font-weight: bold;">
      <h2>Create Reservation</h2>
    </div>
    <div class="col-md-4 middle_content">
      <p>This is will be the description This is will be the description This is will be the description This is will
        be the description This is will be the description This is will be the description This is will be the
        description</p>
    </div>
    <div class="col-md-4 float-right">
      <a class="extra float-right btn btn-secondary" [routerLink]="['/list']">
        RESERVATION LIST
      </a>
    </div>
  </div>
</nav>
<br />
<form [formGroup]="contactForm" (ngSubmit)="onFormSubmit()">

  <nav>
    <section>
      <div class="content_header_form container">
        <div class="row">
          <div class="col-md-3 col-sm-2">
            <div class="form-group">
              <div class="input-group  mb-3">


                <span>
                  <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
                </span>

                <div class="auto-complete-contact">
                  <p-autoComplete   placeholder="Contact Name " formControlName="contactName"
                    [suggestions]="filteredContacts" (completeMethod)="filterContact($event)" field="contactName"
                    [minLength]="0" (onSelect)="selectContact($event)" (onClear)="clearedContact($event)">

                  </p-autoComplete>


                </div>


              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-2">
            <div class="form-group">
              <div class="input-group  mb-3">
                <span>
                  <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                </span>

                <div class="auto-complete-contact">
                  <p-dropdown placeholder="Contact Type    " [options]="contactTypes" optionLabel="contactTypeName"
                    formControlName="contactTypeId" [(ngModel)]="selectedContactType">
                  </p-dropdown>

                </div>
              </div>
            </div>
          </div>


          <div class="col-md-3 col-sm-2">
            <div class="form-group">
              <div class="input-group  mb-3">
                <span>
                  <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                </span>

                <div class="auto-complete-contact">
                  <p-inputMask mask="(999) 999-9999" type="text" formControlName="contactPhone"  placeholder="Phone"></p-inputMask>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-3 col-sm-2">
            <div class="form-group">
              <div class="input-group  mb-3">
                <span>
                  <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                </span>
                <div class="auto-complete-contact">

                  <p-calendar formControlName="contactBirthdate" placeholder="Birth Date" dateFormat="yy-mm-dd"></p-calendar>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>

  </nav>



<br>
<nav>
  <section>

        <angular-editor formControlName="message"></angular-editor>
  </section>

</nav>


<br>
  <section>


    <div class="float-right">
      <div class="form-group">
        <button type="submit" class="btn btn-danger">Send</button>
      </div>
    </div>


  </section>


  </form>
