


  <div class="header_backgroud">

  </div>

   <nav id="navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-4 left_side">
        <h2>Create Reservation</h2>
      </div>
      <div class="col-md-4 middle_content">
        <p>This is will be the description This is will be the description This is will be the description This is will be the description This is will be the description This is will be the description This is will be the description</p>
      </div>
      <div class="col-md-4 float-right">
        <button class="extra float-right btn btn-secondary">
          RESERVATION LIST
        </button>
      </div>
      </div>
    </div>
   </nav>
   <br />









    <section>
      <div class="content_edit container">
        <div class="content">
          <ul>
          <li>
          <div class="input_size">
          <div class="row">
          <div class="col-md-3">
            <div style="margin-bottom: 34px" class="form-group" style="position: relative">
            <span id="absolute_man">

              <i style="    margin-left: 16px;  margin-top: 8px;" class="fa fa-sort-amount-down"></i>
            </span>
            <select style="padding-left: 39px;" class="form-control">
  <option>Sort by</option>
  </select>
          </div>
          </div>

        </div>

        </div>
          </li>

          <li class="list_style" *ngFor="let reservation of reservations | slice: (page-1) * pageSize : page * pageSize">
            <div class="row">
              <div class="sm_size_one col-md-3">
              <div class="edit_div">
              <div class="img_list">
                  <img src="assets/img/speaker.png" alt="" />
                </div>
                <div class="list_title">
                  <h4>{{ reservation.message}}</h4>
                  <p>{{ reservation.dateOfChange}}</p>
                </div>

              </div>


              </div>

              <div class="sm_size_two col-md-3">
                  <div class="rate">
                <h4>Ranking</h4>
                <div class="star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>



                </div>

              </div>
                </div>

              <div class="sm_size_two col-md-3">
                <p class="list_p">Add Favourite <span style="font-size: 22px"><i class="fa fa-heart"></i></span></p>
              </div>

              <div class="sm_size_two col-md-3">
                <button class="float-right btn btn-secondary">
                 Edit
                </button>
              </div>



            </div>


          </li>

<li>

<ngb-pagination [collectionSize]="70"
[pageSize]=8 [(page)]="page" aria-label="Default pagination"></ngb-pagination>

</li>



            <!-- <li style="margin-bottom: 51px">


                  <nav style="    padding: 0px;
    margin-top: 135px;" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link btn btn-secondary secondary_chage" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link btn btn-secondary secondary_chage" href="#">1</a></li>
    <li class="page-item"><a class="page-link btn btn-secondary secondary_chage" href="#">2</a></li>
    <li class="page-item"><a class="page-link btn btn-secondary secondary_chage" href="#">3</a></li>
  <li class="page-item"><a class="page-link btn btn-secondary secondary_chage" href="#">4</a></li>
  <li class="page-item"><a class="page-link btn btn-secondary secondary_chage" href="#">5</a></li>
  <li class="page-item"><a class="page-link btn btn-secondary secondary_chage" href="#">6</a></li>
  <li class="page-item"><a class="page-link btn btn-secondary secondary_chage" href="#">7</a></li>
    <li class="page-item"><a class="page-link btn btn-secondary secondary_chage" href="#">Next</a></li>
  </ul>
  </nav>

            </li>
 -->


          </ul>
        </div>


      </div>
    </section>

