


  <div class="header_backgroud">

  </div>

   <nav id="navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-4 left_side">
        <h2>Create Reservation</h2>
      </div>
      <div class="col-md-4 middle_content">
        <p>This is will be the description This is will be the description This is will be the description This is will be the description This is will be the description This is will be the description This is will be the description</p>
      </div>
      <div class="col-md-4 float-right">
        <button class="extra float-right btn btn-secondary">
          RESERVATION LIST
        </button>
      </div>
      </div>
    </div>
   </nav>
   <br />









    <section>
      <div class="content_edit container">
        <div class="content">
          <ul>
          <li>
          <div class="input_size">
          <div class="row">
          <div class="col-md-3">
            <div style="margin-bottom: 34px" class="form-group" style="position: relative">
            <span id="absolute_man">

              <i style="    margin-left: 16px;  margin-top: 8px;" class="fa fa-sort-amount-down"></i>
            </span>




              <select  class="fa form-control"   (change)='onOptionsSelected($event)'>
                <option selected=true value="&#xf160; Sort by">&#xf160; Sort by</option>
                <option *ngFor="let srt of allSortByReservation" value="{{ srt.sId }}" >
                  {{ srt.sName }}
                </option>

              </select>






          </div>
          </div>

        </div>

        </div>
          </li>

          <li class="list_style" *ngFor="let reservation of reservations  | sort: column : direction | slice: (page-1) * pageSize : page * pageSize  ">
            <div class="row">
              <div class="sm_size_one col-md-3">
              <div class="edit_div">
              <div class="img_list">
                  <img src="assets/img/speaker.png" alt="" />
                </div>
                <div class="list_title">
                  <h4>{{reservation.message}}</h4>
                  <p>{{reservation.dateOfChange}}</p>
                </div>

              </div>


              </div>

              <div class="sm_size_two col-md-3">
                  <div class="rate">
                <h4>Ranking</h4>
                <div class="star">

                  <ngb-rating [max]="5" [rate]="reservation.ranking" [readonly]=true ></ngb-rating>

                </div>

              </div>
                </div>

              <div class="sm_size_two col-md-3" *ngIf="reservation.favorited  else elseBlock">
                <p  class="list_p">
                  Add Favorite
                  <span style="font-size: 22px">
                    <i class="fa fa-heart-o-plus">

                    </i>
                  </span>
                </p>
              </div>


                <ng-template #elseBlock>
                  <div class="sm_size_two col-md-3">
                    <p class="list_p">
                      Remove Favorite
                      <span style="font-size: 22px">
                        <i class="fa fa-heart-o-minus" style="color:red">

                        </i>
                      </span>

                    </p>
                  </div>

                </ng-template>


              <div class="sm_size_two col-md-3">
                <button class="float-right btn btn-secondary" >
                 Edit
                </button>
              </div>



            </div>


          </li>

<li>

<ngb-pagination [collectionSize]="70" *ngIf="reservations.length>0"
[pageSize]=8 [(page)]="page" aria-label="Default pagination"></ngb-pagination>

</li>

          </ul>
        </div>


      </div>
    </section>

