<p-toast></p-toast>

<div class="header_backgroud">

</div>

<nav id="navigation">
  <div class="row">
    <div class="col-md-4 left_side" style="color: red;font-weight: bold;">
      <h2>List of Contacts</h2>
    </div>
    <div class="col-md-4 middle_content">
      <p>This is will be the description This is will be the description This is will be the description This is will
        be the description This is will be the description This is will be the description This is will be the
        description</p>
    </div>
    <div class="col-md-4 float-right">
      <div class="row">
        <a class="extra float-right btn btn-secondary" [routerLink]="['/reservation']">
          RESERVATION LIST
        </a>
      </div> <br>

      <div class="row">
        <button class="extra float-right btn btn-secondary" (click)="showDialogAdd()">
          CREATE CONTACT
        </button>
      </div>

    </div>
  </div>
</nav>
<br />



<nav id="navigation">
  <div class="row">

    <section>
      <div class="content_edit container">
        <div class="content">
          <p-table [value]="contacts" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="contactName">Contact Name <p-sortIcon field="contactName"></p-sortIcon>
                </th>
                <th pSortableColumn="contactTypeName">Contact Type <p-sortIcon field="contactTypeName"></p-sortIcon>
                </th>
                <th pSortableColumn="contactPhone">Phone Number <p-sortIcon field="contactPhone"></p-sortIcon>
                </th>
                <th pSortableColumn="contactBirthdate">Birth Date <p-sortIcon field="contactBirthdate"></p-sortIcon>
                </th>
                <th>Actions </th>


              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-contact>
              <tr>
                <td>{{contact.contactName}}</td>
                <td>{{contact.contactTypeName}}</td>
                <td>{{contact.contactPhone}}</td>
                <td>{{contact.contactBirthdate | date:'dd/MM/yyyy'}}</td>
                <td>
                  <div>

                    <div class="form-row">


                      <button (click)="showDialog(contact, 'edit')" class="btn btn-primary"><i
                          class="fa fa-edit"></i></button>

                      <button (click)="showDialog(contact, 'remove')" class="btn btn-danger"><i
                          class="fa fa-trash"></i></button>

                    </div>


                  </div>

                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </section>
  </div>
</nav>


<p-dialog header={{headerMessage}} [(visible)]="display" styleClass="mydialog">
  <form [formGroup]="contactForm">
    <div class="box box-danger">
      <div class="box-body">


        <div class="form-group">
          <label>Contact Name:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-user-circle-o fa-2x"></i>
            </div>
            <input type="text" class="form-control" formControlName="contactName" [readOnly]="!isEdit">
          </div>
        </div>

        <div class="form-group">
          <label>Contact Type:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-globe fa-2x"></i>
            </div>
            <p-dropdown placeholder="Contact Type    " [options]="contactTypes" optionLabel="contactTypeName"
              formControlName="contactTypeId" [(ngModel)]="selectedContactType" [disabled]="!isEdit">
            </p-dropdown>
          </div>
        </div>

        <div class="form-group">
          <label>Phone:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-phone fa-2x"></i>
            </div>
            <p-inputMask mask="(999) 999-9999" type="text" formControlName="contactPhone" placeholder="Phone"
              [disabled]="!isEdit">
            </p-inputMask>
          </div>
        </div>

        <div class="form-group">
          <label>Birth Date:</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar fa-2x"></i>
            </div>


            <p-calendar [disabled]="!isEdit" appendTo="body" formControlName="contactBirthdate" placeholder="Birth Date"
              dateFormat="yy-mm-dd">

            </p-calendar>

          </div>
        </div>

      </div>
      <!-- /.box-body -->
    </div>


  </form>
  <p-footer>
    <div class="form-row">

      <button [hidden]="action!='edit'" (click)="onEditSubmit()" class="btn btn-primary">Confirm Edit </button>

      <button [hidden]="action!='add'" (click)="onAddSubmit()" class="btn btn-primary">Confirm Add Contact  </button>

      <button [hidden]="action!='remove'" (click)="onDeleteSubmit()" class="btn btn-primary">Confirm Exclude </button>

      <button (click)="hideDialog()" class="btn btn-danger">Cancel </button>

    </div>
  </p-footer>
</p-dialog>
